h1 {
    color: red;
}

.aldynkushkash {
    height: 300px;
    width: auto;
}

/*.header {*/
/*    background-image: url("../images/Django.jpg");*/
/*}*/

.journalcover {
    height: 500px;
    width: auto;
}
