<!-- templates/journals/journal_list.html -->
{% extends '_base.html' %}

{% block title %}Journals{% endblock title %}

{% block content %}
    {% for jour in journal_list %}
        <div>
            <h2>
                <a href="{{ jour.get_absolute_url }}">
                    {{ jour.title }} №{{ jour.number }} ({{ jour.total_number }})
                    {{ jour.start_month }}-{{ jour.end_month }} {{ jour.year | date:'Y' }}
                </a>
            </h2>
        </div>
    {% endfor %}
{% endblock content %}
